# Container
.devcontainer/devcontainer.json

# MAC
.DS_Store

# JSON
NoSQL/*.json

# DUMP
NoSQL/dump.zip
NoSQL/dump/logs/nginx.bson
NoSQL/dump/logs/nginx.metadata.json

# CSV
pagination/Popular_Baby_Names.csv
